<div>
  <div class="heading-box">
  </div>

  <div class="table-heading">
  </div>

  <div class="table-content-row">
  </div>

  <div class="table-content-row">
  </div>

  <div class="table-content-row">
  </div>
</div>
