<div class="top-navigation-links">
  <ul class="right">
    <li>{{#link-to "dashboard.users"}}USERS{{/link-to}}</li>
    <li>{{#link-to "dashboard.repositories"}}Repositories{{/link-to}}</li>
  </ul>
</div>
