.table-skeleton {
  .heading-box {
    background-color: #eee;
    height: 40px;
    width: 20%;
  }

  .table-heading {
    background-color: #eee;
    height: 40px;
    width: 100%;
    margin-top: 50px;
  }

  .table-content-row {
    background-color: #eee;
    height: 40px;
    width: 70%;
    margin-top: 20px;
  }
}
