.dashboard-users-show {
  .tab-navigation {
    @include margin(null null $small-spacing null);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table.user-details {
    @include background($gray);

    td {
      @include position(relative);
      @include size(auto 100px);
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      word-wrap: break-word;

      h5 {
        color: $cement;

        button {
          margin-bottom: 10px;
        }

        .toggle-form {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .x-file--input + label {
        display: block;
      }

      .image-tag img {
        height: 175px;
        width: 275px;
      }

      p {
        @include margin(0);
        font-weight: bold;
        line-height: 24px;
      }

      .arrow-up {
        @include position(absolute, null null 0 50%);
        @include size(0 0);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $white;
      }

      form {
        @include margin(0 auto);
        @include size(400px auto);

        .buttons {
          text-align: center;
        }
      }

      .change-date-and-time {
        @include margin(0 auto);
        @include size(964px auto);
        text-align: center;

        .delivery-slots {
          @include clearfix;
          @include margin(null null $small-spacing null);

          .day {
            @include margin(null $small-spacing null null);
            float: left;

            p {
              @include margin(null null $small-spacing / 2 null);
            }

            .time {
              @include margin(null null $small-spacing / 2 null);
            }

            .button {
              @include size(150px auto);
            }
          }
        }
      }
    }
  }
}
