<div class="dashboard-organizations-index">
  <h1>Organizations</h1>

  <table>
    <tr>
      <th> NAME </th>
      <th> DESCRIPTION </th>
    </tr>

    {{#each model as |organization|}}
      <tr>
        <td> {{#link-to 'dashboard.organizations.show' organization.login}} {{organization.login}} {{/link-to}} </td>

        {{#if organization.description}}
          <td> {{organization.description}} </td>
        {{else}}
          <td> No description </td>
        {{/if}}
      </tr>
    {{else}}
      <tr>
        <td colspan="2" class="-center"> No organizations to show </td>
      </tr>
    {{/each}}
  </table>
</div>
